* {
    letter-spacing: normal !important;
}

@keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.avatars-container {      
    background: #141414;
    text-align: center;    
}

.avatars-container .centered-div {    
    display: flex;    
    align-items: center;
    flex-direction: column;
    justify-content: center;    
}

.avatars-container .centered-div.animate-container {    
    animation: animateContainer .45s forwards;
}

.avatars-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    padding: 15px;
    width: 100%;
    max-width: 87vw;
}

.avatars-icon {
    position: relative;
    width: 10vw;
    height: 10vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;    
    border: 2px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    cursor: pointer;
}

.avatars-icon:hover {
    background-color: #e5e5e5;
    border-radius: 4px;
    border-color: #e5e5e5;    
}

.avatars-header {    
    display: flex;    
    width: 100%;
    max-width: 87vw;
    margin: 0 auto 1vw;
    padding: 3vw 4vw 5vw;
    background: hsla(0,0%,8%,.9);
    justify-content: space-between;
    z-index: 3;
}

.text-left {
    text-align: left !important;
}

.header-container {
    align-items: center;
    display: flex;
}

.header-description {
    margin-left: 2vw;
    text-align: left;
}

.header-text,
.sub-header-text {
    margin: 0;
    padding: 0;
}

.header-text {
    font-size: 2.5vw;
}

.sub-header-text {
    font-size: 2vw;
}

@media screen and (max-width: 800px) {
    .header-text {
        font-size: 8vw;
    }
    
    .sub-header-text {
        font-size: 4vw;
    }
}