* {
    letter-spacing: normal !important;
}

@keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.add-container {
    background: #141414;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 0;
}

.add-container .centered-div {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.add-container .centered-div.animate-container {    
    animation: animateContainer .45s forwards;
}

.add-actions-container {
    position: relative;
    text-align: left;
}

.add-entry {
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}

.add-metadata {
    display: flex;
    padding: 2em 0;
}

.add-metadata .profile-avatar {
    margin-right: 1.5vw;
    max-width: 180px;
    min-width: 80px;
    white-space: nowrap;
    width: 8vw;
}

.profile-icon {
    height: 8vw;
    max-height: 180px;
    max-width: 180px;
    min-height: 80px;
    min-width: 80px;
    width: 8vw;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;            
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.profile-icon:after {
    border: 0.2rem solid transparent;
    border-radius: 4px;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.hh1, .hh2, .hh3 {
    font-weight: 400;
}

.hh1 {
    font-size: 4vw;
    margin: 0;
}

.hh2 {
    color: #666;
    font-size: 1.3vw;
}

.add-add-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-metadata .add-entry-inputs {
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    vertical-align: middle;
}

input {
    line-height: normal;
}

.add-entry input[type=text] {
    background: #666;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.3vw;
    height: 2em;
    margin: 0 0.8em 0 0;
    padding: 0.2em 0.6em;
    text-indent: 0.1vw;
    width: 18em;
}

.add-entry input::placeholder {
    color:rgba(255, 255, 255, 0.7) !important;
}

.add-entry label {
    display: inline;
}

.add-metadata .add-kids-option {
    align-items: center;
    display: flex;
    margin: 5px 0;
    position: relative;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.add-entry input[type=checkbox] {
    display: none;
}

.add-entry label {
    display: inline;
}

.add-entry input[type=checkbox]+label {
    border: 1px solid #333;
    border-radius: 0;
    display: inline-block;
    font-size: .8vw;
    height: 2.5em;
    margin-right: 0.5em;
    position: relative;
    width: 2.5em;
}

.add-metadata .add-kids-marker {
    font-size: 1.3vw;
    font-weight: 400;
}

.kids-profile-tooltip {
    background: #fff;
    bottom: 3em;
    color: #000;
    font-size: 1vw;
    left: -6em;
    opacity: 0;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    transition: opacity .3s linear 50ms,z-index 1ms linear .35s;
    width: 18em;
    z-index: -1;
}

.kids-profile-tooltip:after {
    border: 0.7em solid transparent;
    border-top-color: #fff;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -0.7em;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
}

.add-button {
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    display: block;
    font-size: 1.2vw;
    letter-spacing: 2px;
    margin: 2em 0 1em;
    padding: 0.5em 1.5em;
    text-decoration: none;
}

.add-actions-container .add-button {
    display: inline-block;
    margin-right: 20px;
}

.add-button:hover {
    border: 1px solid #e5e5e5;
    color: #e5e5e5;
}

.add-button.preferred-action {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    font-weight: 600 !important;
}

.add-button.preferred-action.preferred-active, 
.add-button.preferred-action:focus, 
.add-button.preferred-action:hover {
    background: #c00;
    border: 1px solid #c00;
    color: #fff;
    font-weight: 600 !important;
}

@media screen and (max-width: 800px) {    
    .hh2,
    .add-button,
    .add-entry input[type=text],
    .add-metadata .add-kids-marker {
        font-size: 13px;
    }
    
    .hh1 {
        font-size: 40px;
    }

    .add-entry input[type=checkbox]+label {
        font-size: 7px;
    }
}