* {
    letter-spacing: normal !important;
}

@keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.playlist-page-container {
    position: relative;
    background: #141414;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    text-align: left;
}

.playlist-page-container .centered-div {    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
}

.playlist-page-container .centered-div.animate-container {
    animation: animateContainer 0.45s forwards;
}
