* {
     letter-spacing: normal !important;
 }
 
 @keyframes animateContainer {
     0% {
         opacity: 0;
         transform: scale(1.1);
     }
     to {
         opacity: 1;
         transform: scale(1);
     }
 }
 
 .video-description-page-container .centered-div.animate-container {    
     animation: animateContainer .45s forwards;
 }

 .loader-container {
    width: 100%;
 }