.li.profile:not(:last-child) {
    margin: 0 2vw 0 0;
}

.li.profile {
    max-width: 200px;
    min-width: 84px;
    width: 10vw;
}

.li.profile2 {
    max-width: 200px;
    min-width: 84px;
    width: 8.5rem;
}

.li {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.li a {
    text-decoration: none;
    background-color: transparent;
}

.li a.focused, 
.li a:focus, 
.li a:hover {
    cursor: pointer;    
}

.li a.focused .profile-list-icon, 
.li a.focused .profile-list-icon:after, 
.li a:focus .profile-list-icon, 
.li a:focus .profile-list-icon:after, 
.li a:hover .profile-list-icon, 
.li a:hover .profile-list-icon:after {
    border-color: #e5e5e5;
}

.profile-list-icon2, 
.profile-list-icon2:after, 
.profile-list-icon2, 
.profile-list-icon2:after, 
.profile-list-icon2, 
.profile-list-icon2:after {
    border-color: transparent !important;
}

.li a.focused .profile-name, 
.li a:focus .profile-name, 
.li a:hover .profile-name {
    color: #e5e5e5;
}

.profile-name {
    color: grey;
    display: block;
    font-size: 1.3vw;
    line-height: 1.2em;
    margin: 0.6em 0;
    min-height: 1.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.list-profiles .avatar-wrapper {
    position: relative;
}

.profile-list-icon {
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    height: 10vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    position: relative;
    text-decoration: none;
    width: 10vw;    
}

.profile-list-icon:after {
    border: 0.2rem solid transparent;
    border-radius: 4px;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.addProfileIcon {
    align-items: center;
    color: grey;
    display: flex;
    font-size: 6vw;
    height: 10vw;
    justify-content: center;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    text-align: center;
    text-decoration: none;
    width: 10vw;
}

.addProfileIcon:hover {
    background-color: #e5e5e5;
    border-radius: 4px;
}

.profile-edit-mode {
    opacity: .5;
}

.svg-edit-overlay {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.svg-edit-overlay .svg-icon-edit {
    max-height: 70px;
    max-width: 70px;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    color: #e5e5e5;
}


@media screen and (max-width: 865px) {    
    .addProfileIcon {
        font-size: 4em;
    }
}

@media screen and (max-width: 800px) {
    .profile-name {
        font-size: 12px;
    }
}

.small-icon
{
    display: flex !important;    
}

.small-icon .profile-list-icon,
.small-icon .profile-list-icon:hover {

    width: 30px !important;
    height: 30px !important;
    min-width: 0 !important;
    min-height: 0 !important;
    border: 0px;
    border-color: black !important;    
}

.small-icon .profile-name {
    font-size: 14px;
    margin-left: 10px;
}