.profile-button {
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    display: block;
    font-size: 1.2vw;
    letter-spacing: 2px;
    margin: 2em 0 1em;
    padding: 0.5em 1.5em;
    text-decoration: none;
}

.profile-button:hover {
    border: 1px solid #e5e5e5;
    color: #e5e5e5;
}

.profile-button-red:hover {
    background-color: red;
    font-weight: 600;
}

.profile-button.preferred-action {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    font-weight: 600 !important;
}

.profile-button.preferred-action.preferred-active, 
.profile-button.preferred-action:focus, 
.profile-button.preferred-action:hover {
    background: #c00;
    border: 1px solid #c00;
    color: #fff;
    font-weight: 600 !important;
}

@media screen and (max-width: 800px) {
    .profile-button {
        font-size: 13px;
    }
}