.checkBoxLogin {
    justify-content: center;
    text-align: center;
    color: #b3b3b3;
}

.Login {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 30vw;
    min-width: 450px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    box-sizing: border-box;
    flex-direction: column;
    padding: 60px 68px 40px;
}

.derechos {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: left;
    color: #8c8c8c;
    font-size: 13px;
    letter-spacing: 0 !important;
}

.login-signup-now {
    color: #737373;
    font-size: 16px !important;
    font-weight: 400 !important;
    margin-top: 16px;
}

#check {
    position: absolute;
    top: -3px
}
