* {
    letter-spacing: normal !important;
}

@keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.home-container {    
    position: relative;    
    width: 100vw;        
    min-height: 1000px;    
    /* text-align: center; */
    background: #141414;
}

.home-container .centered-div {  
    display: flex;    
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    height: 100%;
}

.home-container .centered-div.animate-container {    
    animation: animateContainer .45s forwards;
}

.img-size {
    width: 20rem;
}

.movie-slider {
    position: relative;
    top: -110px;
    z-index: 30;
}

@media only screen and (min-width: 1450px), only screen and (min-width: 950px) and (max-width: 1449px) {
    .movie-slider {        
        top: -110px;
    }
}