.video-description {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
}


.video-description-top {
     position: relative;
}

.video-description-top img {
    width: 100%;
}

.video-description-title {
     font-size: 2rem;
}

.video-description-info-container {
     display: flex;
     flex-direction: column;
}

.video-description-info-container-left {
     width: 100%;
     padding: 20px 5px 20px 0;
}
.video-description-info-container-right {
     width: 100%;
     padding: 20px 5px 20px 0;
}

.video-description-info-categoria {
     color: #777;
     font-size: 14px;
    line-height: 20px;
}

.video-description-info-categoria ~ a::after {
    content: ", ";
}

.video-description-info-container-right a {
     color: #fff;
     cursor: pointer;
     text-decoration: none;
     font-size: 14px;
     line-height: 20px;
 }

 .video-description-info-description {
     font-size: 14px;
    line-height: 24px;
 }

.info-general, .info-general-2 {
     margin-bottom: 20px;
 }

 .info-general span {
     margin-right: 10px;
 }
 
 .porcentaje {
     color: #46d369;
     display: inline-block;
     font-weight: 500;
     font-size: 16px;
 }

 .anio {
     color: #fff;
 }

 .maturity {
     border: 1px solid hsla(0,0%,100%,.4);
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    overflow: hidden;
    padding: 0 0.4em;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
 }

 .temporadas {
     color: #fff;
 }

 .hd {
     border: 1px solid hsla(0,0%,100%,.4);
    border-radius: 3px;
    color: hsla(0,0%,100%,.9);
    font-size: .7em;
    padding: 0 0.5em;
    white-space: nowrap;
 }

 .ranking {
     font-weight: 500;
     font-size: 20px;
 }

 .video-icons {
    position: relative;
    display: flex;    
    align-items: center;
    left: 10px;
    bottom: 50px;    
 }

 .video-icons svg {
    position: relative;
    bottom: 7px;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(99, 99, 99, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
 }

 .video-icons svg:hover {
    color: rgb(255, 255, 255);
 }

 @media only screen and (min-width: 1450px), only screen and (min-width: 950px) and (max-width: 1449px) {
    .video-description-info-container {    
        flex-direction: row;
    }

    .video-description-info-container-left {
        width: 65%;
        padding: 20px 30px 20px 0;
    }

    .video-description-info-container-right {
        width: 35%;
        padding: 20px 0 20px 30px;
    }
 }