.video-description {
     width: 853px;
     height: 90vh;
     margin-left: auto;
     margin-right: auto;
}


.video-description-top {
     padding-top: 30px;
     padding-left: 30px;
}

.video-description-title {
     font-size: 2rem;
}

.video-description-info-container {
     display: flex;
     flex-direction: row;
}

.video-description-info-container-left {
     width: 65%;
     padding: 20px 30px;
}
.video-description-info-container-right {
     width: 35%;
     padding: 20px 30px;
}

.video-description-info-categoria {
     color: #777;
     font-size: 14px;
    line-height: 20px;
}

.video-description-info-container-right a {
     color: #fff;
     cursor: pointer;
     text-decoration: none;
     font-size: 14px;
     line-height: 20px;
 }

 .video-description-info-description {
     font-size: 14px;
    line-height: 24px;
 }

.info-general, .info-general-2 {
     margin-bottom: 20px;
 }

 .info-general span {
     margin-right: 10px;
 }
 
 .porcentaje {
     color: #46d369;
     display: inline-block;
     font-weight: 500;
     font-size: 16px;
 }

 .anio {
     color: #fff;
 }

 .maturity {
     border: 1px solid hsla(0,0%,100%,.4);
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    overflow: hidden;
    padding: 0 0.4em;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
 }

 .temporadas {
     color: #fff;
 }

 .hd {
     border: 1px solid hsla(0,0%,100%,.4);
    border-radius: 3px;
    color: hsla(0,0%,100%,.9);
    font-size: .7em;
    padding: 0 0.5em;
    white-space: nowrap;
 }

 .ranking {
     font-weight: 500;
     font-size: 20px;
 }