.movie_container {
    position: relative;    
    transition: 0.3s ease-in-out;
}

.home-movie {
    position: relative;    
    width: 100vw;    
}

.home-movie-img {    
    width: 100%;
    height: 100vh;
    opacity: 65%;
    object-fit: cover;
    transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s;
}

.home-info-container {    
    position: absolute;
    display: flex;
    left: 4%;
    top: 0;
    bottom: 10%;
    width: 80%;
    flex-direction: column;
    justify-content: flex-end;    
    color: white;
    text-align: left;
    z-index: 1;
}

.home-movie-title {    
    position: relative;
    left: 0;
    font-size: 10vw;   
    font-weight: 900;
    line-height: .9;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    transition: 600ms ease-out;
}

.home-movie-title.smaller {
    transform: scale(.5);    
}

.home-movie-overview {        
    display: block;
    font-size: 3vw;
    line-height: normal;
    width: 100%;    
    height: initial;
    max-height: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    transition: 600ms ease-out;
}

.home-movie-overview.smaller {
    transform: scale(0);
    height: 0;    
}


.home-movie-buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.home-movie-button-info,
.home-movie-button-rep {
    width: 170px;
    height: 40px;
    padding-top: 10px;
    padding-left: 2rem;
    padding-right: 2.4rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: white;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}

.home-movie-button-info {    
    width: 200px;
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
    cursor: pointer;
}

.home-movie-button-rep:hover {    
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
}

.home-movie-button-info:hover {    
    color: white;
    background-color: rgba(109, 109, 110, 0.5);
}

.home-movie-video {
    position: absolute;
    top: -60px;
    left: -60px;    
    object-fit: cover;
    object-position: center;
}

.home-movie-bottom {
    position: absolute;
    bottom: -180px;
    width: 100vw;
    height: 400px;    
    background-image: linear-gradient(rgba(20, 20, 20, 0), rgb(20, 20, 20), rgb(20, 20, 20));
}

@media only screen and (min-width: 1450px), only screen and (min-width: 950px) and (max-width: 1449px) {
    .home-info-container {
        width: 50%;
        bottom: 20%;
    }
    
    .home-movie-overview {
        font-size: 1.2vw;
    }

    .home-movie-title {
        font-size: 5vw;
    }

    .home-movie-buttons {
        flex-direction: row;
        font-size: 1rem;
    }

    .home-movie-button-info {
        width: 230px;
    }

    .home-movie-button-rep {
        width: 180px;
    }

    .home-movie-title.smaller {     
        left: -170px
    }
    
    .home-movie-video {
        top: -10%;
        left: -10%;
    }
}