.loader-container {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .loader {  
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: inline-block;
    border-top: 9px solid red;
    border-right: 9px solid transparent;
    box-sizing: border-box;
    animation: rotate 1s linear infinite;  
  }