@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:500&display=swap');

$color-gray: #E5E5E5;
$color-blue: #3dabd0;
$color-yellow: #dcdc17;
$color-orange: #ec9c09;
$color-red: #ca0909;
$color-black: #1f1f1f;

body{
  overflow: hidden;
  background-color: #141414;
}

.title{
  margin: 100px 0 20px 50px;
  font-size: 26px;
  color: $color-gray;
  font-family: 'Montserrat';
  font-weight: 600;
}

.slider{
  position: relative;
  width: 100%;
  margin-left: 0;
  &__wrapper{
    display: flex;
    flex-direction: row;
    width: 100000px;
    min-height: 100px;
  }
  &__slide{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 95vw;
  }
  &__item{
    $color: #FFF;
    $textShadow: 2px 2px 6px rgba(0,0,0,0.6);
    display: flex;
    margin: 0 2px;
    text-align: center;
    min-width: 300px;
    min-height: 150px;
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    font-family: 'Montserrat';
    font-weight: 600;
    position: relative;
    &-wrapper{
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 40%;
      pointer-events: none;
      padding: 10px;
    }
    &-title{
      color: $color;
      font-size: 13px;
      text-align: left;
      margin-bottom: 10px;
      text-shadow: $textShadow;
    }
    &-text{
      font-size: 10px;
      color: #FFF;
      text-align: left;
      text-shadow: $textShadow;
      &--green{
        color: #46D369;
      }
    }
    &-badge{
      padding: 2px 3px;
      border-radius: 2px;
      font-size: 9px;
      margin-left: 3px;
      letter-spacing: 1px;
      font-weight: 500;
      font-family: 'Oswald';
      &--blue{
        background-color: $color-blue;
      }
      &--yellow{
        background-color: $color-yellow;
        color: black;
      }
      &--orange{
        background-color: $color-orange;
      }
      &--red{
        background-color: $color-red;
      }
      &--black{
        background-color: $color-black;
      }
    }
    &-duration{
      margin-left: 10px;
    }
    &-list{
      margin-top: 10px;
      color: $color-gray;
      font-weight: 500;
      li{
        display: inline;
        &:not(:first-child){
          margin-left: 15px;
          position: relative;
          &:after{
            $size: 3px;
            content: '';
            height: $size;
            width: $size;
            border-radius: 5px;
            position: absolute;
            left: -9px;
            top: 50%;
            transform: translateY(-50%);
            background-color: darken($color-gray, 45%);
          }
        }
      }
      
    }
  }
  &__button{
    $size: 50px;
    $color: white;
    $width: 20px;
    $height: 4px;
    background-color: black;
    opacity: .3;
    height: 100%;
    width: $size;
    align-self: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    &:hover{
      opacity: .8;
      transition: .3s;
    }
    &--previous{
      left: 0;
      &:after{
        content: '';
        height: $height;
        background-color: $color;
        width: $width;
        position: absolute;
        bottom: 46%;
        right: 55%;
        transform: translate(50%, 50%) rotate(45deg);
      }
      &:before{
        content: '';
        height: $height;
        background-color: $color;
        width: $width;
        position: absolute;
        top: 46%;
        right: 55%;
        transform: translate(50%, -50%) rotate(-45deg);
      }
    }
    &--next{
      right: 0;
      &:after{
        content: '';
        height: $height;
        background-color: $color;
        width: $width;
        position: absolute;
        bottom: 46%;
        right: 45%;
        transform: translate(50%, 50%) rotate(-45deg);
      }
      &:before{
        content: '';
        height: $height;
        background-color: $color;
        width: $width;
        position: absolute;
        top: 46%;
        right: 45%;
        transform: translate(50%, -50%) rotate(45deg);
      }
    }
  }
}