
  .member-footer {
  -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    cursor: default;
    line-height: 1.2;
    user-select: none;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    letter-spacing: 0!important;
    color: rgba(87, 85, 85, 0.521);    
    
    /* Ocupar todo el ancho disponible */
    max-height:min-content;
    width: 100%; 
    position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
 
  }



  .social-links {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  cursor: default;
  line-height: 1.2;
  user-select: none;
  font-size: .85vw;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  color: grey;
  letter-spacing: 0!important;
  display: flex;
  margin-bottom: 1em;
}


 .member-footer-links { 
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  cursor: default;
  line-height: 1.2;
  user-select: none;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  color: grey;
  letter-spacing: 0!important;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 13px;
  margin: 0 0 14px;
  padding: 0;
}

.member-footer-copyright {
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
cursor: default;
line-height: 1.2;
user-select: none;
font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
color: grey;
letter-spacing: 0!important;
font-size: 11px;
margin-bottom: 15px;
}

.social-link {
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
line-height: 1.2;
user-select: none;
font-size: 1vw;
font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
letter-spacing: 0!important;
background-color: transparent;
color: #fff;
cursor: pointer;
text-decoration: none;
margin-right: 15px;}

.member-footer-link-wrapper
{    -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  cursor: default;
  line-height: 1.2;
  user-select: none;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  color: grey;
  font-size: 13px;
  letter-spacing: 0!important;
  box-sizing: border-box;
  flex: 0 0 50%;
  list-style-type: none;
  margin-bottom: 16px;
}